<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="/styles/base.css" />
        <!-- <link rel="stylesheet" href="/styles/navigation.css" /> -->
        <link rel="stylesheet" href="/styles/nav.css" />
        <link rel="stylesheet" type="text/css" href="theme/assets/css/iconly.css" />
        <script src="/scripts/sidenav.js" defer></script>
        <script src="/scripts/language-management.js" defer></script>
        <!-- <script src="/scripts/mobile.js" defer></script> -->