<ul class="tab-items">
    <% if (!locals.isAdmin) { %>
    <li><a href="/"><span class="material-symbols-outlined">home</span></a></li>
    <li><a href="/categories"><span class="material-symbols-outlined">local_mall</span></a></li>
    <li><a href="/cart"><span class="material-symbols-outlined">shopping_cart </span><span class="badge"><%= locals.cart.totalQuantity %></span></a></li>
    <% } %>

    <% if (locals.isAuth && !locals.isAdmin) { %>
    <li><a href="/orders"><span class="material-symbols-outlined">receipt_long</span></a></li>
    <% } %> 
    
    <% if (locals.isAdmin) { %>
        <li><a href="/admin/promo"><span class="material-symbols-outlined">sell</span></a></li>
        <li><a href="/admin/categories"><span class="material-symbols-outlined">local_mall</span></a></li>
        <li><a href="/admin/products"><span class="material-symbols-outlined">inventory_2</span></a></li>
        <li><a href="/admin/orders"><span class="material-symbols-outlined">inventory</span></a></li>
    <% } %>
</ul>