@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    src: url("/theme/fonts/mulish/mulish-v7-latin-500.eot");
    src: local(""),
         url("/theme/fonts/mulish/mulish-v7-latin-500.eot?#iefix") format("embedded-opentype"),
         url("/theme/fonts/mulish/mulish-v7-latin-500.woff2") format("woff2"),
         url("/theme/fonts/mulish/mulish-v7-latin-500.woff") format("woff"),
         url("/theme/fonts/mulish/mulish-v7-latin-500.ttf") format("truetype"),
         url("/theme/fonts/mulish/mulish-v7-latin-500.svg#Mulish") format("svg");
}


* {
    box-sizing: border-box;
}

html {
    font-family: "Mulish", Helvetica, Arial, sans-serif;

    --color-gray-50: rgb(18, 18, 18);
    --color-gray-100: rgb(24, 24, 24);       /* body text color */
    --color-gray-200: rgb(30, 30, 30);          
    --color-gray-300: rgb(68, 68, 68);          /* auth h1 */
    --color-gray-400: rgb(133, 133, 133);
    --color-gray-500: rgb(176, 176, 176);          /* .alt-btn background color */
    --color-gray-600: rgb(210, 210, 210);
    --color-gray-700: rgb(240, 240, 240);          /* auth form background color */
    --color-gray-800: rgb(255, 255, 255);          /* body background color */
    --color-gray-800-rgba: rgba(10, 10, 10, 0.5);

    /*--color-primary-100: rgb(153, 0, 255);*/
    --color-primary-50: rgb(156, 245, 233);
    --color-primary-100: rgb(111, 235, 218);
    --color-primary-200: rgb(55, 209, 188);    /* auth form link color; form horizontal line */
    --color-primary-400: rgb(11,175,154);     /* link, logo, nav-items color; auth form link hover&active */
    --color-primary-500: rgb(9, 166, 145);       /* .btn class background color */
    --color-primary-700: rgb(5, 129, 112);
    --color-primary-200-contrast: rgb(3, 68, 59);
    --color-primary-500-contrast: white;        /* .btn class text color */

    --color-error-100: rgb(241, 177, 188);      /* .alert class background color */
    --color-error-500: rgb(180, 10, 41);        /* .alert class text color */

    --color-primary-500-bg: rgb(42, 42, 42);

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    --border-radius-small: 4px;
    --border-radius-medium: 6px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-gray-800);
    color: var(--color-gray-100);
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--color-primary-400);
    color: var(--color-primary-500-contrast);
    border: 1px solid var(--color-primary-400);
    border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
}

.btn-alt {
    border-color: transparent; /* x */
    background-color: var(--color-gray-500); /* background-color: transparent; */
    color: var(--color-gray-100); /* color: var(--color-primary-500); */
}

.btn-alt:hover,
.btn-alt:active {
    border-color: transparent; /* x */
    background-color: var(--color-gray-500); /* background-color: var(--color-primary-500-bg); */
}

.btn-alt:disabled {
    color: var(--color-gray-400);
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-100);
    color: var(--color-error-500);
    padding: var(--space-4);
}

.alert h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2) 0;
}

.badge {
    margin-left: var(--space-2);
    padding: 0.15rem var(--space-4);
    border-radius: 10rem;
    background-color: var(--color-primary-500);
    color: var(--color-primary-500-contrast);
}

.lang-en {
    display: block;
}

.lang-id {
    display: none;
}

a, p, h1, h2, h3 , h4 {
    font-family: "Mulish";
}