#promo-grid {
    margin: var(--space-2) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* repeat template for (how many columns, minwidth-maxwidth per item) */
    gap: var(--space-4); /* space between columns/rows */
}

#products-grid {
    margin: var(--space-8) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* repeat template for (how many columns, minwidth-maxwidth per item) */
    gap: var(--space-4); 
    /* space between columns/rows */
}

.promo-badge {
    position: absolute;
    left: -0.5rem;
    top: -0.25rem;
    background: var(--color-error-500);
    text-align: center;
    border-radius: var(--border-radius-small);
    font-size: 1.2rem;
    color: var(--color-primary-500-contrast);
    padding: var(--space-1) var(--space-2);
    z-index: 1;
}

.category-item,
.product-item,
.product-item-container {
    border-radius: var(--border-radius-medium);
    text-align: center;
    background-color: var(--color-gray-700);
    /* padding: var(--space-4); */
    height: 10rem;
    position: relative;
    overflow: visible;
}

.category-item,
.product-item-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.category-item img,
.product-item img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.category-item-content,
.product-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    margin: var(--space-4);
}

.category-item-clickable,
.product-item-clickable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally (for IE fallback) */
}

.category-item-clickable h2,
.product-item-clickable h2 {
    font-size: 1.25rem; /* font-size: 1.15rem; */
    font-weight: bold; /* x */
    margin: var(--space-2) 0;
    overflow: hidden;
    width: 100%; /* Take full width of parent */
    text-align: center; /* Center text horizontally */
}

.category-item-clickable p,
.product-item-clickable p {
    width: 100%;
    margin: 0;
    text-align: center;
}

.category-item-actions,
.product-item-actions {
    display: flex;
    gap: var(--space-2);
    margin-bottom: var(--space-4);
    justify-content: space-around;
}

#product-details header {
    margin-top: var(--space-8);
    padding: var(--space-8);
    background-color: var(--color-gray-600);
    gap: var(--space-8);
}

#product-details img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
    /* border: 1px solid var(--color-gray-100); */
}

#product-info {
    text-align: center;
}

#product-description {
    background-color: var(--color-primary-500-bg);
    padding: var(--space-8);
    white-space: pre-wrap;
}

@media (min-width: 48rem) {
    #product-details header {
        display: flex;
        padding: var(--space-2) var(--space-8); /* x */
        align-items: center; /* x */
    }

    #product-details img {
        width: 20rem;
        height: 15rem;
        /* transform: rotateZ(-10deg); */
        margin: var(--space-8);
    }

    #product-info {
        text-align: left;
    }
}