<%- include('../../shared/includes/head', { pageTitle: 'Update Subcategory' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header', {haveBackBtn: true}) %>
    <main>
        <h1 class="lang-en">Update Subcategory</h1>
        <h1 class="lang-id">Ubah Subkategori</h1>
        <%- include('includes/subcategory-form', { 
            submitPath: '/admin/subcategories/' + subcategory.id,
            subcategory: subcategory,
            categories: categories,
            imageRequired: false
        }) %>
    </main>
<%- include('../../shared/includes/footer') %>